<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Palavra Aleatória</title>
</head>
<body>
    <h1>Digite a palavra que você viu:</h1>
    <div align="center">
        <p id="challenge-question-id" font-size="10px">{{ challenge_view[0] }}</p>
        <script>
            setTimeout(function() {
                document.getElementById("challenge-question-id").style.visibility = "hidden";
            }, 1000);
        </script>
    </div>
    <br>
    <br>
    <div align="center">
        <form action="/result" method="post">
            <input type="text" name="user-answer">
            <input type="hidden" name="challenge-answer" value="{{ challenge_view }}">
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
